name: Rust

on: push

env:
  CARGO_TERM_COLOR: always
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Check formatting
      run: cargo fmt -- --check
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Install performance bin
      run: |
        wget https://github.com/sharkdp/hyperfine/releases/download/v1.15.0/hyperfine_1.15.0_amd64.deb
        sudo dpkg -i hyperfine_1.15.0_amd64.deb
        cargo build --release
    - name: Run performance
      run:  hyperfine --warmup 5 -N --runs 1000 ./target/release/rusti-cal
